<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALL PRODUCTS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-screen bg-zinc-900 text-white">
    <!-----------------------------------------------------------------------------Flash Messages--------------->
    <% if(cartMsg.length > 0){ %>
    <div
      class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 mt-1 rounded-md bg-green-500"
    >
      <span class="initial-block mt-1 mb-1 text-white"> <%= cartMsg %> </span>
    </div>
    <% } %>
    <!----------------------------------------------------------------------------------------------Nav Bar----------------->

    <% if(navBar){ %>
    <nav class="nav bg-zinc-800 flex justify-center justify-between p-2">
      <div
        class="left flex justify-center gap-10 p-2 inline-block ml-[7rem] text-white font-semibold text-xl"
      >
        <div><a href="/">Home</a></div>
        <div><a href="/products">Shop</a></div>
        <div><a href="/products/men">Men</a></div>
        <div><a href="/products/women">Women</a></div>
        <div><a href="/products/kids">Kids</a></div>
        <div><a href="/products/trolley">Trolly</a></div>
      </div>
      <div class="right flex justify-end gap-10 mr-20 p-2">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle bg-green-600"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/users">Create Ac</a></li>
            <li>
              <a class="dropdown-item" href="/owners">Owner AC</a>
            </li>
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li>
              <a class="dropdown-item" href="/logout/userlogout">logout</a>
            </li>
          </ul>
        </div>

        <div class="cart text-yellow-500 text-xl font-semibold">
          <a href="/cart">Cart</a>
        </div>
        <div class="login text-blue-700 text-xl font-semibold">
          <a href="/login">Login</a>
        </div>
      </div>
    </nav>
    <% } %>

    <!--Our Colections...-->
    <div>
      <h1
        class="text-white text-5xl font-bold flex justify-center items-center my-10"
      >
        ALL PRODUCTS IS HERE
      </h1>

      <div
        class="bagcard bg-zinc-800 mx-10 h-auto p-10 flex justify-center gap-10 flex-wrap rounded-md"
      >
        <!-----------------------------------------------------------------------------------------------Rendering bags START------------------->
        <% products.forEach(function(product){ %>
        <div
          class="womenbag bg-slate-700 pt-3 px-3 w-[16rem] h-[24rem] rounded-md"
        >
          <a href="/products/productonly/<%=product._id %>">
            <img
              class="w-[15rem] h-[16rem] object-cover rounded-md"
              src="data:image/jpeg;base64,<%=product.image.toString('base64') %>"
              alt="Product Image"
            />
          </a>

          <div class="text-xs mt-2 flex flex-col text-white">
            <span class="font-semibold"><%= product.name %></span>
            <span class="text-[10px] text-green-500 tracking-wider"
              ><%=product.subtitle %></span
            >
            <span class="text-lg font-semibold"
              >₹ <span class="text-red-500"><%= product.price %></span></span
            >
          </div>
        </div>
        <% }) %>

        <!-----------------------------------------------------------------------------------------Rendering Bags END------------>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
