<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ONLY PRODUCT</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-900 w-full h-screen">
    <diV class="bg-gray-900 mt-20 flex justify-between gap-10 p-10">
      <div
        class="image ml-20 bg-gray-700 w-[40rem] h-[45rem] flex justify-center items-center flex-col rounded-lg"
      >
        <img
          class="w-[22rem] h-[30rem] mt-2 object-cover rounded-lg"
          src="data:image/jpeg;base64,<%=singleProduct.image.toString('base64') %>"
          alt=""
        />
        <div class="small-images w-full my-9 p-2 flex justify-between">
          <img
            class="w-[8rem] h-[9rem] bg-gray-500 p-2 object-cover rounded-lg"
            src="data:image/jpeg;base64,<%=singleProduct.image.toString('base64') %>"
            alt=""
          />
          <img
            class="w-[8rem] h-[9rem] bg-gray-500 p-2 object-cover rounded-lg"
            src="data:image/jpeg;base64,<%=singleProduct.image.toString('base64') %>"
            alt=""
          />
          <img
            class="w-[8rem] h-[9rem] bg-gray-500 p-2 object-cover rounded-lg"
            src="data:image/jpeg;base64,<%=singleProduct.image.toString('base64') %>"
            alt=""
          />
        </div>
      </div>
      <div class="details w-[50%] text-white">
        <p class="text-5xl font-bold"><%=singleProduct.name %></p>
        <p class="text-2xl font-semibold my-4"><%=singleProduct.subtitle %></p>
        <p class="text-xl font-bold my-8">
          Price :-
          <span class="text-red-500 text-lg font-normal"
            ><%=singleProduct.price %></span
          >
        </p>
        <p class="text-xl font-bold my-8">
          Discount :-
          <span class="text-lg font-normal"
            ><%=singleProduct.discount %><span>%</span></span
          >
        </p>
        <p class="text-xl font-bold my-8">
          Company :-
          <span class="text-lg font-normal"><%=singleProduct.company %></span>
        </p>
        <p class="text-xl font-bold my-8">
          Size :-
          <span class="text-lg font-normal"><%=singleProduct.size %></span>
        </p>
        <p class="text-xl font-bold my-8">
          Color :-
          <span class="text-lg font-normal"><%=singleProduct.color %></span>
        </p>
        <p class="text-xl font-bold my-8">
          Material :-
          <span class="text-lg font-normal"><%=singleProduct.material %></span>
        </p>
        <p class="text-xl font-bold my-8">
          Features :-
          <span class="text-lg font-normal"><%=singleProduct.features %></span>
        </p>
        <p class="text-xl font-bold my-8">
          Details :-
          <span class="text-lg font-normal text-wrap"
            ><%=singleProduct.description %>
          </span>
        </p>
        <div class="mt-20 flex justify-start gap-10">
          <a class="bg-green-500 p-2 text-2xl font-semibold rounded-lg" href=""
            >Buy Now</a
          >
          <a class="bg-yellow-500 p-2 text-2xl font-semibold rounded-lg" href=""
            >Add To Cart</a
          >
        </div>
      </div>
    </diV>
  </body>
</html>
