<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TROLLEY BAGS</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-screen bg-zinc-900">
    <!--Our Colections...-->
    <div>
      <h1
        class="text-white text-5xl font-bold flex justify-center items-center my-10"
      >
        BEST TROLLEY BAGS COLLECTIONS FOR YOU
      </h1>

      <div
        class="bagcard bg-zinc-800 mx-10 h-auto p-10 flex justify-center gap-10 flex-wrap rounded-md"
      >
        <!-----------------------------------------------------------------------------------------------Rendering bags START------------------->
        <% trolley.forEach(function(items){ %>
        <div
          class="womenbag bg-slate-700 pt-3 px-3 w-[16rem] h-[24rem] rounded-md"
        >
          <a href="/products/productonly/<%=items._id %>">
            <img
              class="w-[15rem] h-[16rem] object-cover rounded-md"
              src="data:image/jpeg;base64,<%=items.image.toString('base64') %>"
              alt="loading..."
            />
          </a>

          <div class="text-xs mt-2 flex flex-col text-white">
            <span class="font-semibold"><%=items.name %></span>
            <span class="text-[10px] text-green-500 tracking-wider"
              ><%=items.subtitle %></span
            >
            <!-- <span class="text-[12px]">MRP : 2000</span> -->
            <span class="text-lg font-semibold"
              >₹ <span class="text-red-500"><%=items.price %></span></span
            >
          </div>
        </div>

        <% }) %>

        <!-----------------------------------------------------------------------------------------Rendering Bags END------------>
      </div>
    </div>
  </body>
</html>
